<!doctype html>
<html lang="en">
	<head>
		{{ partial "meta.html" . }}

		<title>{{ .Title }}</title>
	</head>
	<body class="list">
		{{ partial "header.html" . }}

		<main>
			<header>
				<div>
					<h1>[Title]</h1>
					<p>[Tagline Here]</p>
					<input type="text" placeholder="Search" />
				</div>
			</header>

			<menu>
				<a href="#">[Action Here]</a>
			</menu>

			<section>
				{{- range .Data.Pages }}
				{{ .Render "li" }}
				{{ end }}
			</section>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
