<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ partial "sidebar.html" . }}

    <main>
        <article>
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <section class="content">{{ .Content }}</section>
            {{ partial "next-prev.html" . }}
        </article>

        {{ partial "aside.html" . }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
