<!-- overlay when the sidebar is expanded -->
<div class="overlay" aria-hidden="true"></div>

<!-- code to expand and collapse the sidebar -->
<script>
    function toggle(el) {
        if (el.classList.contains("open")) {
            el.classList.remove("open");
        } else {
            el.classList.add("open");
        }
    };
    function toggleSidebar(e) {
        toggle(document.querySelector(".sidebar"));
        toggle(document.querySelector(".overlay"));
    }
    document.querySelector(".overlay").addEventListener("click", toggleSidebar);
    document.querySelector("header .menu").addEventListener("click", toggleSidebar);
    document.querySelector(".sidebar header button").addEventListener("click", toggleSidebar);
</script>

{{ if .Site.Params.algolia_key }}
<!-- import docsearch dependencies -->
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

<!-- code to bootstrap docsearch -->
<script>
  docsearch({
    apiKey: "{{ .Site.Params.algolia_key }}",
    indexName: "{{ .Site.Params.algolia_index }}",
    inputSelector: ".search input",
    debug: false
  });
</script>
{{ else }}
<script src="/autocomplete.js"></script>
<script src="/fuse.js"></script>
<script>
var options = {
  shouldSort: true,
  tokenize: false,
  threshold: 0.6,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 1,
  keys: [
    "title",
    "tags",
    "content"
  ]
};

var index;
autocomplete('#search-input', {
    hint: true,
    debounce: 250,
    cache: true,
    debug: window.location.hostname === "localhost",
}, [
    {
        displayKey: function(suggestion) {
            return suggestion.title
        },
        source: function(query, callback) {
            if (!index) {
                fetch("/index.json")
                .then(function(response) {
                    return response.json();
                })
                .then(function(items) {
                    index = new Fuse(items, options);
                    var results = index.search(query);
                    callback(results && results.slice(0, 5));
                });
            } else {
                var results = index.search(query);
                callback(results && results.slice(0, 5));
            }
        }
    }]).on('autocomplete:selected', function(event, suggestion, dataset) {
        window.location.href = suggestion.permalink;
    });
</script>
{{ end }}