    <header class="header">
        <div class="branding">
            <button class="menu" aria-hidden="true"></button>
            <a class="logo" href="{{ "" | absURL }}" aria-label="Documentation">
                <img src="{{ "logo.svg" | absURL }}" />
            </a>
        </div>
        <div class="search">
            {{ if .Site.Params.algolia_key }}
            <input type="text" placeholder="Search the {{ .Site.Title }} documentation ..."/>
            {{ end }}
        </div>
    </header>