{{ if eq .Lang "en" }}
<a hidden class="infobar infobar-language infobar-fr" href="fr{{ .URLPath.URL | relURL }}">View documentation in Français</a>
<a hidden class="infobar infobar-language infobar-es" href="es{{ .URLPath.URL | relURL }}">View documentation in Español</a>
<a hidden class="infobar infobar-language infobar-pt" href="pt{{ .URLPath.URL | relURL }}">View documentation in Português</a>
<a hidden class="infobar infobar-language infobar-zh-ch" href="zh-cn{{ .URLPath.URL | relURL }}">View documentation in 中文(简体)</a>
<a hidden class="infobar infobar-language infobar-zh-tw" href="zh-tw{{ .URLPath.URL | relURL }}">View documentation in 中文(台灣)</a>
<a hidden class="infobar infobar-language infobar-ja" href="ja{{ .URLPath.URL | relURL }}">View documentation in 日本語</a>
<a hidden class="infobar infobar-language infobar-ru" href="ru{{ .URLPath.URL | relURL }}">View documentation in pусский</a>
<a hidden class="infobar infobar-language infobar-hu" href="hu{{ .URLPath.URL | relURL }}">View documentation in magyar</a>

<script defer>
var languages = [];

{{ range .Site.Languages }}
languages.push("{{ lower .Lang }}");
{{- end }}

navigator.languages.forEach(function(language) {
  if (languages.indexOf(language.toLowerCase()) != -1) {
    var infobar = document.querySelector(".infobar-"+language.toLowerCase());
    if (infobar) {
      infobar.removeAttribute("hidden");
    }
  }
});
</script>
{{ end }}
