<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{{ .Site.Title }}</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">

<link href="{{ .Site.BaseURL }}dist/style.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}override.css" rel="stylesheet">
