<!doctype html>
<html lang="en">
	<head>
		{{ partial "meta.html" . }}
	</head>
	<body class="list">
		{{ partial "header.html" . }}

		<main>
			<header>
				<div>
					<h1>{{- .Site.Params.heading -}}</h1>
					<p>{{- trim .Site.Params.tagline "\n" -}}</p>
					<input type="text" placeholder="{{- .Site.Params.actions.search -}}" />
				</div>
			</header>

			{{ if .IsHome -}}
			<menu>
				<a href="https://github.com/drone/drone-tutorials">{{ .Site.Params.actions.create }}</a>
			</menu>
			{{ else -}}
				<div class="filter">
					<div class="filter-inner">
						<a href="{{ .Site.BaseURL }}">
							<i class="material-icons">close</i>
						</a>
						<span>{{ .Title }}</span>
					</div>
				</div>
			{{ end -}}

			<section class="{{ lower .Site.Params.heading }}">
				{{- $base := .Site.BaseURL -}}
				{{- range .Data.Pages }}
				<article>
					<div>
						<h2>
							<a href="{{ .Permalink }}">{{ .Title }}</a>
						</h2>

						{{- if .Params.logo }}
						<div class="logo" style="background-image: url({{ $base }}{{ .Params.logo }})"></div>
						{{ end -}}

						{{- if .Params.author }}
						<span class="author">by {{ .Params.author }}</span>
						{{ end -}}

						<ul class="tags">
						{{- range .Params.tags }}
							<li>
								<a class="tag" href="{{ $base }}tags/{{ . }}">{{ . }}</a>
							</li>
						{{ end -}}
						</ul>
					</div>
				</article>
				{{ end }}
			</section>
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
