
.plugins {
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 800px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.plugins > article {
	border:none !important;
	padding:0px !important;
	margin:0px !important;
	width: 50%;

	@media (max-width: 800px) {
		width: 100%;
	}

	&> div {
		border: 1px solid #EEE;
		border-radius: 2px;
		margin-bottom: 20px;
		padding: 30px;
		min-height: 110px;
		display: flex;
		flex-direction: column;
		position: relative;

		.logo {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			width: 64px;
			height: 64px;
			position: absolute;
			top: 20px;
			right: 30px;
		}

		h2 {
			flex: 1 1 auto;
			padding-right: 75px;
			line-height: 22px;
		}
	}

	.tags {
		display:block;
		margin-left:0px;
		margin-top:10px;

		li:first-child .tag {
			margin-left:0px;
		}
	}

	&:nth-child(odd) {
		&> div {
			margin-right: 10px;
		}
	}

	&:nth-child(even) {
		&> div {
			margin-left: 10px;
		}
	}

	@media (max-width: 800px) {
		&> div {
			margin-left: 0px !important;
			margin-right: 0px !important;
		}
	}
}
