.filter {
	.no-select();
	background: #f5f5f5;
	padding: 0px;
	margin: 0px;
	margin-bottom:40px;

	.filter-inner {
		line-height:24px;
		padding:25px;
		color: #999;
		font-size: 16px;
		text-transform: uppercase;
		white-space: nowrap;
		margin:0px auto;
		max-width:800px;

		@media (max-width: 800px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.material-icons {
		float: right;
		color: #999;
	}
}
